<%- include('cabecalho') %>
<form action="/idade" method="post">
    <div>
        <label>
            <span>Nome</span>
            <input name="nome" />
        </label>
        <label>
            <span>Ano</span>
            <input name="ano" type="number" />
        </label>
        <label>
            <span>Doação</span>
            <input name="doacao" type="number" />
        </label>
    </div>
    <!-- <%
    for (let i = 0; i < 5; i++) {
        if (i == 5) {
            continue;
        }
    _%>
        <div>
            <label>
                <span>Nome <%= i %></span>
                <input name="nome<%= i %>" />
            </label>
            <label>
                <span>Ano</span>
                <input name="ano" type="number" />
            </label>
            <label>
                <span>Doação</span>
                <input name="doacao" type="number" />
            </label>
        </div>
    <%
    }
    _%> -->
    <button>Enviar</button>
</form>

<!-- <form action="/idade" method="post"> -->
    <!-- <label>
        <span>Nome</span>
        <input name="nome" />
    </label>
    <label>
        <span>Doação</span>
        <input name="doacao" type="number" />
    </label> -->

<!-- <%
for (let i = 0; i < 10; i++) {
    if (i == 5) {
        continue;
    }
_%>
    <label>
        <span>Nome <%= i %></span>
        <input name="nome<%= i %>" />
    </label>
<%
}
_%> -->

    <!-- <button>Enviar</button>
</form> -->
<!-- <div class="div_tituloFormularioLogin">
    <h1>FAÇA SEU LOGIN</h1>
    <button id="botao_login" class="botao_padrao"><a href="/login">Login</a></button>
</div> -->
<!-- <div class="div_formularioLogin">
    <form action="/login" method="post">
         <div class="div_campoForm">
            <label for="f_username">Usuário</label>
            <input type="text" name="f_username" id="f_username" value="">
        </div>
        <div class="div_campoForm">
            <label for="f_senha">Senha</label>
            <input type="password" name="f_senha" id="f_senha" value="">
        </div>
        <button>Logar</button>
    </form>
</div>
<div class="div_rodapeFormularioLogin">
    <button id="botao_limpar" class="botao_padrao">Limpar</button>
</div> -->
