<body>
    <%- include('cabecalho') %>
    
    <h1>Teste de Implementação de Formulário</h1>

    <!-- Confirmar o usuário e senha
    trazer id, nome e o nivel do Usuário -->
    <div class="testeDiv">
        <h1>Teste de Implementação de Formulário 2</h1>
        <p>Nome do Usuário, <%= usuario.nome %></p>
        <p>Id do Usuário <%= usuario.username %>. </p>
        <!-- <p>Nível de Acesso Usuário <%= ?????? %> anos!</p> -->
    </div>




    <!-- original -->
    <!--  
        <div class="testeDiv">
        <p>Olá, <%= pessoa.nome %>!</p>
        <p>Você nasceu em <%= pessoa.ano %>. </p>
        <p>Tem <%= idade %> anos!</p>
        <p>Sua doação foi de: <%= pessoa.doacao %>.</p> 
        <p>Saldo final de doações: <%= saldo %></p>
    </div> -->



    <!-- <main class="main_login">
        <div class="div_tituloFormularioLogin">
            <h1>FAÇA SEU LOGIN</h1>
        </div>
        <div class="div_formularioLogin">
            <form action="administracao.html" method="post">
                    <div class="div_campoForm">
                    <label for="f_username">Usuário</label>
                    <input type="text" name="f_username" id="f_username" value="">
                </div>
                <div class="div_campoForm">
                    <label for="f_senha">Senha</label>
                    <input type="password" name="f_senha" id="f_senha" value="">
                </div>
            </form>
        </div>
        <div class="div_rodapeFormularioLogin">
            <button id="botao_login" class="botao_padrao"><a href="administracao.html">Login</a></button>
            <button id="botao_limpar" class="botao_padrao">Limpar</button>
        </div>
    </main> -->
         
</body>
</html>

<!-- <%- include('cabecalho') %>
<h1>Teste</h1> -->

<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Parôquia Nsa. Remédios</title>
    <link rel="stylesheet" type="text/css" href="estilos/estilos.css" />  
</head>
<body> -->
    <!--Cabeçalho-->
    <!-- <header> -->
        <!--Primeiro Menu-->
        <!-- <div class="div_menu1">
            <nav>
                <ul>
                    <li><a href="#"> Confissões </a></li>
                    <li><a href="#"> Orações </a></li>
                    <li><a href="#"> Liturgia Diária </a></li>
                    <li><a href="catequese_permanente.html"> Catequese Permanente </a></li>
                    <li><a href="#sessao_oracoes"> Pedidos de Oração </a></li>
                    <li><a href="login.html">Área Restrita</a></li>
                </ul>
            </nav>
        </div> -->

        <!--Meio do Cabeçalho = Brasões e Nome Da Parôquia e  e -->
        <!-- <div class="div_cabecalho">

            <div class="div_logo">
                <img id="logo_diocese" src="imagens\brasaodiocese.png">
                <img id="logo_paroquia" src="imagens\brasaoparoquia.png">
            </div>

            <div class="div_titulo">
                <p>Paróquia Nossa Senhora Dos Remédios Paracuru</p>
            </div>
        </div> -->

        <!--Segundo Menu-->
        <!-- <div  class="div_menu2">
            <nav>
                <ul>
                    <li><a href="index.html"> HOME </a></li>
                    <li><a href="pagina_em_desenvolvimento.html"> A PARÔQUIA </a></li>
                    <li><a href="publicacoes.html"> NOTÍCIAS </a></li>
                    <li><a href="pagina_em_desenvolvimento.html"> PASTORAIS </a></li>
                    <li><a href="pagina_em_desenvolvimento.html"> MOVIMENTOS </a></li>
                    <li><a href="pagina_em_desenvolvimento.html"> SECRETARIA </a></li>
                    <li><a href="pagina_em_desenvolvimento.html"> CONTATOS </a></li>
                    <li><a href="sobre.html"> SOBRE </a></li>
                </ul>
            </nav>
        </div>
    </header> -->



<!-- <footer>
    <p>Todos Os Direitos Reservados: Claudio Tadeu Severino - Trabalho de Desenvolvimento HTML - CSS - IFCE - Curso de Informática Para Web - Disciplina: Desenvolvimento WEB I - Unidade 5</p>
</footer>
</body>
</html> -->